.header1 h1 {
  justify-content: center;
  display: flex;
  font-size: 30px;
  color: #6B6A6B;
  font-family: Courier;
}

.header2 h1 {
  justify-content: center;
  display: flex;
  font-size: 25px;
  color: #6B6A6B;
  font-family: Courier;
}

.line h1 {
justify-content: center;
display: flex;
color: #00E8CB;
opacity: 0.8;
font-size: 15px;
}
.container1{
  height:45vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container2{
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.individual_card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 22px;
  margin-top: 30px;
  margin-left: 30px;
}

.bike-name h2 {
  margin-bottom: 0px;
  font-size: 30px;
}

.bike-price h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-top: 1px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

.individual-bike-price h2 {
  margin-top: 1px;
  font-size: 20px;
}

.bike-neighborhood h2 {
  position: absolute;
  margin-bottom: 10px;
  top: 10px;
  left: 10px;
  margin-top: 1px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

.bike-size h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.bike-description {
  color: white;
  font-size: 20px;
  position: absolute;
  top: -165px;
  left: 10px;

}

.bike-individual-description {
  font-size: 16px;
  margin: 10px 0px;
}


.fullprice h2 {
  margin-top: 2px;
  font-size: 20px;
  text-decoration: line-through;
  color: #8A786E
}

.rent-btn-medium {
  color: #EB5E55;
  border: 1px solid #EB5E55;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.rent-btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #EB5E55;
}

.form-group {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 1px;
}

.button_bike {
  margin-top: 30px;
  background-color: #F4F4F4;
  color: grey;
  width: 70vh;
  border-color: #00E8CB;
  border-radius: 10px;
  font-size: 20px;
}

.unavailable-bike {
  opacity: 0.3;
  cursor: not-allowed;
}

.flip-container{
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;

  .flip-card{
    height: 175px;
    position:relative;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    margin:30px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #9FA6A5;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &:hover{
      transform: rotateY( 180deg );
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    }

    div{
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .flip-front-card{
      position:relative;
      z-index: 2;
      width:200px;
      height:175px;
    }

    .flip-reverse-card{
      position:relative;
      transform: rotateX( 180deg );
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      transform: rotateY( 180deg );
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    }
  }

}


// .card-price {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
// }

// .card-size {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }

// .card-neighborhood-and-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-neighborhood-and-description h2 {
//   font-size: 24px;
// }
// .card-neighborhood-and-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }

