<div class="banner">
  <h1>Thank you! Your booking is confirmed!</h1>
   <h2>Find your bike detials below!</h2>

</div>

<div class="container">
  <% @rentals.each do |rental| %>
    <li> <%= link_to rental.start_date, rental_path(rental) %></li>
    <%= link_to 'Delete this rental', rental_path(rental), method: :delete %>
  <% end %>
</div>

