
<div class="form-style-5">
  <form>
    <fieldset>
      <legend><span class="number">🚲</span> Bicycle specifications</legend>
      <input type="text" name="field1" placeholder="Your Name *">
      <input type="email" name="field2" placeholder="Your Email *">
      <div class="normal-container">
        <div class="smile-rating-container">
          <div class="smile-rating-toggle-container">
            <form class="submit-rating">
              <input id="meh"  name="satisfaction" type="radio" />
              <input id="fun" name="satisfaction" type="radio" />
              <label for="meh" class="rating-label rating-label-meh">No</label>
              <div class="smile-rating-toggle"></div>

              <div class="rating-eye rating-eye-left"></div>
              <div class="rating-eye rating-eye-right"></div>

              <div class="mouth rating-eye-bad-mouth"></div>

              <div class="toggle-rating-pill"></div>
              <label for="fun" class="rating-label rating-label-fun">Yes</label>
            </form>
          </div>
        </div>
      </div>
      <textarea name="field3" placeholder="About yourself"></textarea>
      <legend><span class="number">🚲</span>Area to collect bike</legend>
      <!-- <label for="job">Interests:</label> -->
      <select id="job" name="field4">
          <option value="Shibuya">Shibuya</option>
          <option value="Shinjuku">Shinjuku</option>
          <option value="Ginza">Ginza</option>
          <option value=" Omotesando"> Omotesando</option>
          <option value=" Odaiba"> Odaiba</option>
          <option value="Akihabara">Akihabara</option>
          <option value="Asakusa">Asakusa</option>
          <option value="Harajuku">Harajuku</option>
          <option value="Shimbashi">Shimbashi</option>
          <option value="Ikebukuro">Ikebukuro</option>
          <option value="Ebisu">Ebisu</option>
          <option value="Yoyogi">Yoyogi</option>
          <option value="Nakameguro">Nakameguro</option>
          <option value="Meguro">Meguro</option>
      </select>
    </fieldset>
    <fieldset>
      <legend><span class="number">🚲</span>Area to collect bike</legend>
      <textarea name="field3" placeholder="About Your School"></textarea>
    </fieldset>
    <input type="submit" value="Search" />
  </form>
</div>
