
<div class="form-style-5">
  <form>
    <fieldset>
      <legend><span class="number">🚲</span> Bicycle specifications</legend>

      <form class="form">
        <div class="inputGroup">
          <input id="radio1" name="radio" type="radio"/>
          <label for="radio1">BASKET</label>
        </div>
        <div class="inputGroup">
          <input id="radio2" name="radio" type="radio"/>
          <label for="radio2">NO BASKET</label>
        </div>
      </form>

      <div style="max-width: 600px; margin: 24px auto;">

      <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

      <DIV>
        <P>
          <P>
          </P>
        </P>
      </DIV>


      <h1>Size </h1>
      <select id="job" name="field4" placeholder= "-">
          <option value="Kids">Kids</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
      </select>

      <legend><span class="number">🚲</span>Area to collect bike</legend>
      <!-- <label for="job">Interests:</label> -->
      <select id="job" name="field4">
          <option value="Shibuya">Shibuya</option>
          <option value="Shinjuku">Shinjuku</option>
          <option value="Ginza">Ginza</option>
          <option value=" Omotesando"> Omotesando</option>
          <option value="Asakusa">Asakusa</option>
          <option value="Harajuku">Harajuku</option>
          <option value="Meguro">Meguro</option>
      </select>
    </fieldset>

    <input type="submit" value="Search" />

  </form>
</div>
