<h1>All the bikes</h1>
<ul>
  <% @bikes.each do |bike| %>
    <li><%= bike.description %>| <%= bike.price_per_day %> $| size: <%= bike.size %>
      <%= image_tag bike.photo %>
    </li>
  <% end %>
</ul>
