
<%= render 'shared/navbar' %>

<div class="productPage">
  <div class="row">
    <div class="col-md-5 productPage_productWithDetails">
      <div class="productPage_username">
        input username
      </div>
      <div class="productPage__productWsDetailsImage">
        <img class="#" alt="bike" src="bike_img">
      </div>
    </div>
    <div class="col-md-7 productPage_productWsDetailsContent">
      <div class="productPage__productWsDetailsBasketOrNoBasket">
        two checkboxes
      </div>
      <div class="productPage__productWsDetailsPricing">
        Price per day + Price Bar
      </div>
      <div class="productPage__productWsDetailsLocation">
        Neighbourhood + Dropdown Menu
      </div>
      <div class="productPage__productWsDetailsSize">
        Size + Dropdown Menu
      </div>
      <div class="productPage__productWsDescription">
        Description + Text Box
      </div>
    </div>
  </div>
</div>

