<div class="rental-banner">
  <h1>My Bikes</h1>
  <h2>Find all your active listings below!</h2>
</div>

<div class="all-rentals">
  <% @my_bikes.each do |my_bike| %>

  <div class="entry">
      <div class="photo">
        <ul style="list-style-type:none">
        <li><%= cl_image_tag(my_bike.photo, width: '200px') %></li>
      </div>

      <div class="entry-details">
         <ul style="list-style-type:none">
         <% my_bike.rentals.each do |rental| %>
        <li><h1>Your bike has been booked!</h1></li>
        <li> Rented from: <%=rental.nice_start_date %></li>
        <li> Until: <%=rental.nice_end_date %></li>
        <% end %>
      </div>
  </div>
 <% end %>
</div>


<div style="display: flex; justify-content: center;">
<ul style="list-style-type:none"><li><%= link_to 'ADD', new_bike_path, class: "btn btn_danger" %></li>
       </ul>
</div>
