.rental-banner {
  text-align: center;
  margin: auto 0;
}

.rental-banner h1 {
font-size: 35px;
}


.rental-banner h2 {
font-size: 25px;
}

.rental {
  display: flex;
  margin: 35px;
}

.all-rentals {
  margin-top: 45px;
}

.btn_primary {
  background-color: #B9B9B9;
  color: white;
  margin-top: 25px;
}

.btn_danger {
  background-color: #56857C;
  color: white;
  font-size: 20px;
}

.button {
margin-left: 375px;
margin-bottom: 70px;
}
