.rental-banner {
  text-align: center;
  margin: auto 0;
}

.rental-banner h1 {
font-size: 35px;
}


.rental-banner h2 {
font-size: 25px;
}

.rental {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-around;
}

.all-rentals {
  margin-top: 45px;
}

.btn_primary {
  background-color: #B9B9B9;
  color: white;
  margin-top: 25px;
}

.btn_primary:hover {
  background-color: #B9B9B9;
  color: #ECECEC;
  margin-top: 25px;
}

.btn_danger {
  background-color: #56857C;
  color: white;
  font-size: 18px;
}

.btn_danger:hover {
  background-color: #56857C;
  color: #ECECEC;
  font-size: 18px;
}

.button {
margin-left: 375px;
margin-bottom: 70px;
}


